body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#carouselExampleDark {
    width: 100%;
}

h4 {
    text-align: center;
}

.card {
    margin: auto;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 60%;
    border: #ffffff;
    text-align: center;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
}

.box {
    text-align: center;
    width: 80%;
    height: 95%;
    padding: 8%;
    background-color: lightgrey;
    border-radius: 6%;
    margin: auto;
    transition: transform .2s; /* Animation */
}

.box2 {
    text-align: center;
    width: 80%;
    height: 95%;
    padding: 8%;
    background-color: lightgrey;
    border-radius: 6%;
    margin: auto;
    transition: transform .2s; /* Animation */
}

.box3 {
    text-align: center;
    width: 80%;
    height: 95%;
    padding: 8%;
    background-color: lightgrey;
    border-radius: 6%;
    margin: auto;
    transition: transform .2s; /* Animation */
    
}

.box4 {
    text-align: center;
    width: 80%;
    height: 95%;
    padding: 8%;
    background-color: lightgrey;
    border-radius: 6%;
    margin: auto;
    transition: transform .2s; /* Animation */
    
}

.box:hover {
    transform: scale(1.1); 
}

.box2:hover {
    transform: scale(1.1); 
}

.box3:hover {
    transform: scale(1.1); 
}

.box4:hover {
    transform: scale(1.1); 
}

#coupon {
   margin-top: 5%;
   padding: 5%;
   background-image: url(../immagini/sfondonewsletter.jpg);
   background-size: cover;
   opacity: 0.7;
   color: white; 
   
}

#exampleInputEmail1 {
    width: 60%;
}

#carosellone {
    margin-top: 50px;
}

#testo-carosello {
    color: black;
    background-color: lightgray;
    
}

.bottoni-h {
    background-color: #f8f9fa;
    color: grey;
    border-color: #f8f9fa;
}

.bottoni-h:hover {
    color: #000 !important; 
    background-color: #f8f9fa !important; 
    border-color: #f8f9fa !important; 
}

.bottoni-h:focus {
    color: #000 !important; 
    background-color: #f8f9fa !important; 
    border-color: #f8f9fa !important; 
}

/* footer */

.footer{
    background-color: rgb(100, 99, 99);
    padding: 70px 0;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #ffffff;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{

    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.4s ease;
}

.footer-col ul li a:hover{ 
    color:#ffffff;
    padding-left: 10px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.4s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}

.container{
    max-width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;

}

ul{
    list-style: none;
    padding-left: 0;
}

.titoli-f {
    text-align: left;
}

