/*css chiara*/

#carouselExampleDark {
    width: 100%;
}

.card {
    margin: auto;
    margin-bottom: 10%;
    margin-top: 5%;
    width: 60%;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    color: black;
}

