<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserved</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  
</head>
<body>
  <div class="container-fluid">
		<div class="row mt-4">
			
			<div class="col-7">
					<table class="table table-striped table-responsive">
						<thead>
							<tr>
								<th>Marca</th>
								<th>Modello</th>
								<th>Materiale</th>
								<th>Genere</th>
								<th>Prezzo</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="o : ${occhiali}">
								<td th:text="${o.marca}"></td>
								<td th:text="${o.descrizione}"></td>
								<td th:text="${o.materiale}"></td>
								<td th:text="${o.genere}"></td>
								<td th:text="${o.tipologia}"></td>
								<td th:text="${o.colore}"></td>
								<td th:text="${o.prezzo}"></td>
								<td class="text-end">
									<a th:href="@{/reserved(id=${o.id})}" class="btn btn-primary btn-sm small-button" 
										th:text="#{btn.edit}">Modifica</a>
									<a th:href="@{/reserved/delete(id=${o.id})}" class="btn btn-danger btn-sm small-button" 
										th:text="#{btn.delete}">Elimina</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
						<div class="col-1"></div>
						
	<div class="col-4">					
	<form method="POST" th:object="${occhiale}">
	  <div class="form-group">
	    <label for="exampleInputEmail1">Marca</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{marca}" placeholder="Inserisci marca">
	    <small id="emailHelp" class="form-text text-muted"></small>
	  </div>
    <div class="form-group">
	    <label for="exampleInputEmail1">Modello</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{modello}" placeholder="Inserisci modello">
	    <small id="emailHelp" class="form-text text-muted"></small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Tipologia</label>
	    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{tipologia}" placeholder="Inserisci tipologia">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Genere</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{genere}" placeholder="Inserisci genere">
	    <small id="emailHelp" class="form-text text-muted"></small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Colore</label>
	    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{colore}" placeholder="Inserisci colore">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputEmail1">Materiale</label>
	    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" th:field="*{materiale}" placeholder="Inserisci materiale">
	    <small id="emailHelp" class="form-text text-muted"></small>
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Descrizione</label>
	    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{descrizione}" placeholder="Inserisci descrizione">
	  </div>
	  <div class="form-group">
	    <label for="exampleInputPassword1">Prezzo</label>
	    <input type="text" class="form-control" id="exampleInputPassword1" th:field="*{prezzo}" placeholder="Inserisci prezzo">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	
	</div>
			
		</div>
	
	</div>

  

</body>
</html>
















